/*----------------------------Sign-in/Sign-up styling-------------------------------------------------*/
.signup, .signin {
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.signin {
  background: url('../assets/signin_background2.jpg') no-repeat center center fixed;
}

.signup {
  background: url('../assets/signin_background1.jpg') no-repeat center center fixed;
}

#signinbox, #signupbox {
  background-color: rgba(255,255,255, 0.7);
  border-radius: 3px;
}

#signinheader, #signupheader {
  display:flex;
  justify-content:center;
  align-items:center;
}

#signinlogo, #signuplogo {
  /*-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;*/
  text-shadow: 0 0 30px #000;
  -moz-text-shadow: 0 0 30px #000;
  -webkit-text-shadow: 0 0 30px #000;
  color: white;
  font-size: 100px;
}

/*----------------------------RestaurantList styling-------------------------------------------------*/
#sidenav {
  padding-bottom: 10px;
}

.restaurantlist .sidenav {
  position: fixed;
}
.restaurantlist .list {
}
.restaurantquery {
  font-size: 15px;
  list-style: none;
}


/*----------------------------------map styling--------------------------------------*/
#map {
  height: 55vh;
  min-height: 80px;
  clear: both;
  position: fixed;

}


/*----------------------------PreferenceSurvey styling-------------------------------------------------*/
ul[dnd-list], ul[dnd-list] > li {
	position: relative;
}


ul[dnd-list] .dndDraggingSource {
    display: none;
}

#surveycontinue{

}
#surveycontinue h1{
  font-size: 80px;
}


#foodpicturechoices{
  min-height: 500px;
}

#foodpicturechoices{
  display:flex;
  justify-content:center;
  align-items:center;
}
#foodpicturechoices ul{
  padding-left: 0px;
}
#foodpicturechoices ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-width: 370px;
}

.foodrankbox[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #76c379;
    min-height: 175px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid grey;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
    padding: 10px 15px;
    margin: 20px;
}


ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
    min-height: 50px;
}

.foodpicture{
  padding-left: 0px;
}


.foodrankbox {
  min-height: 250px;
  min-width: 250px;
  border: 7px solid #4caf50;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding-left: 0px;
}

#surveyprompt{
  text-align: center;
}

#firstchoice{
  /*margin-left: 300px;*/
}

#secondchoice {
}
#thirdchoice{
  /*margin-right: 300px;*/
}

/*----------------------------????? styling-------------------------------------------------*/
/*.header {
  width: 100%;
  height: 4%;
  position: fixed;
  top: -1.8%;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 25px;
  border-radius: 3px;
}

.logo {
  font-size: 30px;
  font-family: 'Kaushan Script', sans-serif;
  color: white;
    list-style: none;
  margin-bottom: -5px;
  margin-left: -30px;
}*/

/*----------------------navbar styling---------------------------*/


#navbar {
  /*position: fixed;*/
  background-color: #4caf50;
}

#navbar ul{
  margin: 5px;
  vertical-align: center;
  padding-left: 10px;
  white-space: nowrap;
}

#navbar li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin-right: 30px;
}

#navbar li a {
  color: white;

  text-decoration: none;
}

#navbar li: last-child {

}

#navbar .searchbox {
  overflow: hidden;
  width: 320px;
  vertical-align: middle;
  white-space: nowrap;
}

#navbar .searchbox input#searchinput {
  width: 300px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#navbar .searchbox input#search::-webkit-input-placeholder {
   color: #65737e;
}


#navbar .searchbox input#search:-ms-input-placeholder {
   color: #65737e;
}

#navbar .searchbox button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  /*background: #232833;*/
  height: 52px;
  width: 50px;
  /*color: #4f5b66;*/
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

#navbar .searchbox button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

#navbar .searchbox:hover button.icon:hover{
  background: white;
}





/*?????*/
.googleLocation {
  width: 50%;
}

body {
  background-color: #B3D1FF;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
}


.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -95px;
  margin-left: -55px;
  width: 100px;
  height: 100px;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}

/*
@media(max-width: 400px) {
  #map {
    width: 100%;
    height: 250px;
    clear: both;
    margin: auto;
    margin-top: 7%;
  }

  .header {
    background-color: #4caf50;
    width: 100%;
    height: 5%;
    position: fixed;
    top: -2.4%;
  }

  .header a {
    color: white;
    text-decoration: none;
    padding: 25px;
    border-radius: 3px;
  }

  .logo {
    font-size: 30px;
    font-family: 'Kaushan Script', sans-serif;
    color: white;
    margin-bottom: -5px;
    margin-left: -30px;
  }

  .googleLocation {
    width: 100%;
  }

  .links {
    width: 22%;
    font-size: 20px;
    padding: 0;
    margin-right: 50px;
    height: 30px;
    padding-top: 6px;
    text-align: right;
  }
  .restaurantList {
    font-size: 10px;
  }
}*/
/*----------------------------PreferenceForm styling-------------------------------------------------*/
md-checkbox.md-checked .md-icon {
 background-color: #4caf50;
}


/*----------------------------MenuView----------------------------------------------------------------*/

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}
