<div class="preferenceform">
<div layout="row">
  <div flex="10">
  </div>
  <md-card id="tastepreferencecard" flex="60" class="md-padding">
       <h2 class="md-padding md-margin">Taste preferences</h2>
       <div class="md-padding" id="tastePreferenceform">
         <div layout md-theme="red">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Spicy</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex md-discrete ng-init="preferencesForm.tastePreference.spicy" ng-model="tastePref.spicy" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
         <div layout md-theme="orange">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Meaty</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex class="md-warn" md-discrete ng-init="preferencesForm.tastePreference.meaty" ng-model="tastePref.meaty" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
         <div layout md-theme="yellow">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Sour</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex class="md-primary" md-discrete ng-init="preferencesForm.tastePreference.sour" ng-model="tastePref.sour" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
         <div layout md-theme="light-green">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Sweet</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex class="md-primary" md-discrete ng-init="preferencesForm.tastePreference.sweet" ng-model="tastePref.sweet" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
         <div layout md-theme="indigo">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Salty</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex class="md-primary" md-discrete ng-init="preferencesForm.tastePreference.salty" ng-model="tastePref.salty" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
         <div layout md-theme="deep-purple">
           <div flex="10" layout layout-align="center center">
             <span class="md-body-1">Bitter</span>&nbsp&nbsp
           </div>
           <md-slider class="md-primary" flex class="md-primary" md-discrete ng-init="preferencesForm.tastePreference.bitter" ng-model="tastePref.bitter" step="1" min="1" max="5" aria-label="rating">
           </md-slider>
         </div>
       </div>
     </md-card>

  <md-card id="ingredientpreferencecard" flex="25" class="md-padding">
     <h2 class="md-padding md-margin">Ingredient Preferences</h2>
     <div class="md-padding">
     <md-input-container>
       <label>I like...</label>
       <md-chips ng-model="preferredIngredients"></md-chips>
       <!-- <ul ng-repeat="ingredients in ingredientPrefLike">
         <li>{{ingredients.ingredient}}</li>
       </ul> -->
     <md-input-container>
       <label>I don't like...</label>
       <md-chips ng-model="rejectedIngredients"></md-chips>
     </md-input-container>
     <!-- <ul ng-repeat="ingredients in ingredientPrefDislike">
         <li>{{ingredients.ingredient}}</li>
       </ul> -->
     </div>

  </md-card>

  <div flex="10">
  </div>
</div>

<div layout="row">

<div flex="10">
  </div>

<md-card flex="40" class="md-padding">
  <h2>Diet Restrictions</h2>

  <!-- <div layout="row" layout-wrap> -->
    <div flex>

        <fieldset class="standard">
          <!-- <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend> -->
          <md-radio-group  ng-model="$parent.diet">
            <div layout="row" layout-wrap flex>
              <div flex="50"><md-radio-button flex="50" value="lacto vegetarian" class="md-primary">Lacto Vegetarian</md-radio-button></div>
              <div flex="50"><md-radio-button flex="50" value="ovo vegetarian" class="md-primary">Ovo Vegetarian</md-radio-button></div>
              <div flex="50"><md-radio-button flex="50" value="pescetarian" class="md-primary">Pescetarian</md-radio-button></div>
              <div flex="50"><md-radio-button flex="50" value="vegan" class="md-primary">Vegan</md-radio-button></div>
              <div flex="50"><md-radio-button flex="50" value="vegetarian" class="md-primary">Vegetarian</md-radio-button></div>
              <div flex="50"><md-radio-button flex="50" value="paleo" class="md-primary">Paleo</md-radio-button></div>
            </div>
          </md-radio-group>
      </fieldset>

  </div>
  <!-- </div> -->
</md-card>

<md-card flex="40" class="md-padding">
  <h2>Allergies</h2>
      <div flex>
        <fieldset class="standard">
          <!-- <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend> -->
          <div layout="row" layout-wrap flex>
            <div flex="33" ng-repeat="allergy in allergyList">
              <md-checkbox ng-checked="exists(allergy, allergies)" ng-click="toggleAllergyCheckbox(allergy)">{{allergy}}</md-checkbox>
            </div>
          </div>
        </fieldset>
    </div>
  {{allergies}}
</md-card>

  <div flex="10">
  </div>
</div>
  <!-- <h2>Nutrition Restrictions</h2>
  <div layout="row" layout-wrap>
      <md-input-container>
      <label>Nutrition</label>
        <md-select ng-model="selectedNutrition">
          <md-option ng-value="attribute" ng-repeat="attribute in nutritionAttributes">{{attribute}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container >
        <label>Max</label>
        <input ng-model="nutritionValue" type="number"></input>

      </md-input-container>
  <md-button ng-click="changeNutritionValue()" class="md-raised">Submit</md-button>

  <div ng-repeat="(key, value) in nutritionPreference">{{key}}: {{value}}</div>
  </div> -->
<div layout="row">
  <div flex="9">
  </div>
  <md-card id="cuisinepreferencecard" flex="80" class="md-padding" >
    <h2 class="md-padding md-margin">Cuisine Origin</h2>
    <div class="md-padding" md-theme="green" layout="column">
      <div layout="row" layout-padding layout-margin>
        <div flex layout="column" >
<!-- <div ng-repeat="cuisine in cuisinePref"> -->
          <div flex="40" layout layout-align="center center" >
            <span class="md-body-1">{{cuisinePref[0].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinePref[0].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
<!-- </div> -->
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[1].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.italian.eval" ng-model="cuisinePref[1].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[2].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.mexican.eval" ng-model="cuisinePref[2].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[3].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.southern_soulfood.eval" ng-model="cuisinePref[3].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[4].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.french.eval" ng-model="cuisinePref[4].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[5].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.southwestern.eval" ng-model="cuisinePref[5].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[6].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.indian.eval" ng-model="cuisinePref[6].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[7].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.chinese.eval" ng-model="cuisinePref[7].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
      </div>

      <div layout="row" layout-padding layout-margin>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[8].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.cajun_creole.eval" ng-model="cuisinePref[8].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[9].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.english.eval" ng-model="cuisinePref[9].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[10].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.mediterranean.eval" ng-model="cuisinePref[10].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[11].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.greek.eval" ng-model="cuisinePref[11].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[12].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.spanish.eval" ng-model="cuisinePref[12].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[13].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.german.eval" ng-model="cuisinePref[13].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[14].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.thai.eval" ng-model="cuisinePref[14].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[15].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.moroccan.eval" ng-model="cuisinePref[15].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
      </div>

      <div layout="row" layout-padding layout-margin>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[16].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.irish.eval" ng-model="cuisinePref[16].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[17].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.japanese.eval" ng-model="cuisinePref[17].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[18].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.cuban.eval" ng-model="cuisinePref[18].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[19].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.hawaiian.eval" ng-model="cuisinePref[19].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[20].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.swedish.eval" ng-model="cuisinePref[20].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[21].origin}}</span>
          </div>
          <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.hungarian.eval" ng-model="cuisinePref[21].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider>
        </div>
        <div flex layout="column">
          <div flex="40" layout layout-align="center center">
            <span class="md-body-1">{{cuisinePref[22].origin}}</span>
          </div>
<!--           <md-slider flex="60" class="md-primary" md-discrete ng-init="preferencesForm.cuisinePreference.portugese.eval" ng-model="cuisinePref[0].preference_level" step="1" min="1" max="3" aria-label="rating">
          </md-slider> -->
        </div>
        <div flex layout="column">
        </div>
      </div>
    </div>
       </md-card>
       <div flex="11">
       </div>
</div>
       <div style="text-align: center">
         <md-button ng-click="sendPreferenceData()" class="md-primary md-fab md-fab-top-right" style="position: fixed; margin-top: 100px" >Save</md-button>
       </div>

</div>
