  <h2>Taste preferences</h2>
  <div id="tastepreferenceform">
    <div layout md-theme="red">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">spicy</span>
      </div>
      <md-slider class="md-primary" flex md-discrete ng-model="tastepreference.spicy" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
    <div layout md-theme="orange">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">meaty</span>
      </div>
      <md-slider class="md-primary" flex class="md-warn" md-discrete ng-model="tastepreference.meaty" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
    <div layout md-theme="yellow">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">sour</span>
      </div>
      <md-slider class="md-primary" flex class="md-primary" md-discrete ng-model="tastepreference.sour" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
    <div layout md-theme="light-green">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">sweet</span>
      </div>
      <md-slider class="md-primary" flex class="md-primary" md-discrete ng-model="tastepreference.sweet" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
    <div layout md-theme="indigo">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">salty</span>
      </div>
      <md-slider class="md-primary" flex class="md-primary" md-discrete ng-model="tastepreference.salty" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
    <div layout md-theme="deep-purple">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">bitter</span>
      </div>
      <md-slider class="md-primary" flex class="md-primary" md-discrete ng-model="tastepreference.bitter" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
    </div>
  </div>



  <h2>Diet Restrictions</h2>
  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="50" layout="column">
      <div>
        <fieldset class="standard">
          <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>


          <md-radio-group ng-model="dietaryrestrictions">
            <div layout="row" layout-wrap flex>
              <div flex="50">
                <md-radio-button flex="50" value="lacto vegetarian" class="md-primary">Lacto Vegetarian</md-radio-button>
              </div>
              <div flex="50">
                <md-radio-button flex="50" value="ovo vegetarian" class="md-primary">Ovo Vegetarian</md-radio-button>
              </div>
              <div flex="50">
                <md-radio-button flex="50" value="pescetarian" class="md-primary">Pescetarian</md-radio-button>
              </div>
              <div flex="50">
                <md-radio-button flex="50" value="vegan" class="md-primary">Vegan</md-radio-button>
              </div>
              <div flex="50">
                <md-radio-button flex="50" value="vegetarian" class="md-primary">Vegetarian</md-radio-button>
              </div>
            </div>
        </md-radio-group>
      </fieldset>
    </div>
  </div>
</div>


  <h2>Allergies</h2>
  <div layout="row" layout-wrap>
      <div flex="100" flex-gt-sm="50" layout="column">
        <div>
          <fieldset class="standard">
            <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>
            <div layout="row" layout-wrap flex>
              <div flex="33" ng-repeat="allergy in allergylist">
                <md-checkbox ng-click="toggleAllergyCheckbox(allergy)">
                  {{allergy}}
                </md-checkbox>
              </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>


  <h2>Cuisine Origin</h2>

  <div md-theme="green" layout="column">
    <div layout="row" layout-padding layout-margin>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">American</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.american" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Italian</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.italian" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Mexican</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.mexican" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Southern & Soul food</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.southern_soulfood" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">French</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.french" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Southwestern</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.southwestern" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Indian</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.indian" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Chinese</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.chinese" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
    </div>

    <div layout="row" layout-padding layout-margin>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Cajun & Creole</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.cajun_creole" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">English</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.english" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Mediterranean</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.mediterranean" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Greek</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.greek" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Spanish</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.spanish" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">German</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.german" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Thai</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.thai" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Moroccan</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.moroccan" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
    </div>

    <div layout="row" layout-padding layout-margin>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Irish</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.irish" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Japanese</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.japanese" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Cuban</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.cuban" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Hawaiian</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.hawaiian" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Swedish</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.swedish" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Hungarian</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.hungarian" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
        <div flex="40" layout layout-align="center center">
          <span class="md-body-1">Portugese</span>
        </div>
        <md-slider flex="60" class="md-primary" md-discrete ng-model="cuisinepreference.portugese" step="1" min="1" max="3" aria-label="rating">
        </md-slider>
      </div>
      <div flex layout="column">
      </div>
    </div>
  </div>


  <h2>Nutrition Restrictions</h2>
  <div layout="row" layout-wrap>
      <md-input-container>
      <label>Nutrition</label>
        <md-select ng-model="selectedNutrition">
          <md-option ng-value="attribute" ng-repeat="attribute in nutritionAttributes">{{attribute}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container >
        <label>Max</label>
        <input ng-model="nutritionValue" type="number"></input>

      </md-input-container>
  <md-button ng-click="changeNutritionValue()" class="md-raised">Submit</md-button>

  <div ng-repeat="(key, value) in nutritionPreferences">{{key}}: {{value}}</div>
  </div>




  <h2>Ingredient Preferences</h2>
  <div>
  <md-input-container>
    <label>I like...</label>
    <md-chips ng-model="preferredIngredients"></md-chips>
  </md-input-container>
  <md-input-container>
    <label>I don't like...</label>
    <md-chips ng-model="rejectedIngredients"></md-chips>
  </md-input-container>
</div>

<md-button class="md-raised" ng-click="sendPreferenceData()">Submit</md-button>
