<div>
<form  id="signinbox" class="md-whiteframe-z2 md-padding" ng-submit="validate()" layout="column">
  <div flex="30">
    <h2>Sign In</h2>
  </div>

  <div flex="60" id="signinformfields" layout="row">
    <div flex>
      <md-input-container>
        <label>Username</label>
        <input type='text' ng-model="user.loginUsername" required maxlength = "20" autofocus>
      </md-input-container>
      <br>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="user.loginPassword" maxlength = "20" required>
      </md-input-container>
      <br>
      <md-button id="signIn" type="submit" class="md-primary md-raised">Sign in</md-button>
    </div>
  </div>
  <div flex="10">
  </div>
</form>
</div>
