<div class='signup' flex layout="column" layout-fill>
  <div id="signupheader" flex="20">
    <h1 id="signuplogo">Menu App</h1>
  </div>
  <div flex-offset="50" layout="row">
    <form id="signupbox" name="signup" class="md-whiteframe-z2 md-padding" flex="70" ng-submit="signUp()">
      <h2>Please Sign Up</h2>
      <div id="signupformfields" layout="row">
        <div flex="60">
          <md-input-container>
            <label>First Name</label>
            <input type='text' ng-model="user.first_name" maxlength = "20" required autofocus>
          </md-input-container>
          <br>
          <md-input-container>
            <label>Last Name</label>
            <input type="text" ng-model="user.last_name" maxlength = "30" required>
          </md-input-container>
          <br>
          <md-input-container>
            <label>E-mail</label>
            <input type="text" ng-model="user.email" maxlength = "30" required>
          </md-input-container>
          <br>
          <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.username" maxlength = "20" required>
          </md-input-container>
          <br>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="user.password" maxlength = "20" required>
          </md-input-container>
          <br>
          <md-input-container>
            <label>Confirm Password</label>
            <input type="password" ng-model="user.confirmpassword" maxlength = "20" required>
          </md-input-container>
          <br>
          <md-button id="signout_button" type="submit" class="md-raised">Sign Up</md-button>
        </div>
        <div flex="40">
          <a href="/#/signin">Already have an account? <strong>Signin</strong> ...</a>
        </div>
      </form>
    </div>
  </div>
</div>
