<div ng-controller='restaurantListController' layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
  <div id="map"></div>
  <md-content layout-padding="">
  <div>
    <form ng-submit="displayRestaurants()">
      <md-input-container class="md-block">
      <input type="text" style="width: 50%;" id="autocomplete" placeholder="Search..." required autofocus="">
    </md-input-container>
      <md-input-container ng-class="md-block">
      <input type="submit" value="Submit">
    </md-input-container>
  </form>
</div>
</md-content>
<h2>Restaurant Listings</h2>
<li class="restaurantList" ng-repeat="displayRestaurants in data">
  <span ng-click="restaurantMenu(displayRestaurants.id)">{{displayRestaurants.name}}, {{displayRestaurants.formatted}},
    {{displayRestaurants.contact.formattedPhone}}</span>
  </li>
</div>